<!DOCTYPE html>
<html>
  <head>
    <title>
      This is will be awesome!
    </title>
    <script type="module" src="../js/appTest.js"></script>
    <link rel="stylesheet" type="text/css" href="../assets/css/app.css" />
  </head>
  <body>
    <header>
      To serve and protect the people.
    </header>
    <container id="main-Container">
      <div>
        <p id="p1">
          Some will have you believe that police shootings and brutality are
          rare occurances. This is because they know you are not armed with
          facts and raw data. That ends now. When you upload your videos, you
          are creating a public record that allows all of to have access to the
          facts related to police brutality ad shootings.
        </p>
        <p>
          HTML seriously.
        </p>
      </div>
      <!-- <script type="module" src="../js/app.js"></script> -->
      <!-- <script type="module" src="../js/appTest.js"></script> -->
    </container>
  </body>
</html>
